*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body{
  height: 100vh;
}

.container {
  height: 100vh;
}

.ui.grid>.heading {
  padding-top: 5rem;
}

#description {
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
}

#startQuiz-btn {
  padding: 15px;
  background-color: lightsalmon;
  color: white;
  text-align: center;
}

.question-header {
  padding: 15px 8px 8px 8px;
  text-align: center;
}

.answer-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  background-color: lightsalmon;
  text-align: left;
}

#startQuiz-btn:hover,
.answer-btn:hover,
#clearScores-btn:hover,
#retakeQuiz-btn:hover,
#submitInitials-btn:hover {
  background-color: lightgrey;
}

#submitInitials-btn {
  color: white;
  background-color: lightsalmon;
}

#retakeQuiz-btn {
  margin-right: 10px;
  color: white;
  background-color: lightsalmon;
}

#clearScores-btn {
  margin-left: 10px;
  color: white;
  background-color: lightsalmon;
}

